.debug nav {
    height: 30px;
    background-color: blue;
}

.debug #jumbotron {
    background-color: aqua;
    height: 250px;
}

.debug .row>[class*="col"] {
    background-color: green;
    height: 100px;
}

.debug #about {
    background-color: rebeccapurple;
    height: 250px;
}

.debug .contact_data {
    height: 300px;
    /* background-color: crimson; */
}

.debug .data {
    width: 65%;
    height: 100%;
    background-color: crimson;
}

.debug .footer_top {
    height: 150px;
    background-color: cornflowerblue;
}

.debug .footer_bot {
    height: 50px;
    background-color: darkblue;
}